Touseef Ahmed
20101133 
# assignment 2

 Write a Python code to display first 100 prime numbers

In [6]:
for i in range(1,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

For the given list Lst = [1,3,2,4,5,1,4,1,9,10,11,1,2,11,10,8,1,2,3,11,1,10], remove the repititons and make two new lists
Lst_even and Lst_odd containing the even and odd numbers

In [7]:
Lst = [1,3,2,4,5,1,4,1,9,10,11,1,2,11,10,8,1,2,3,11,1,10]

In [17]:
# remove duplicates from the list
Lst = list(set(Lst))

# initialize empty lists for even and odd numbers
Lst_even = []
Lst_odd = []

# iterate through the list and separate even and odd numbers
for num in Lst:
  if num % 2 == 0:
    Lst_even.append(num)
  else:
    Lst_odd.append(num)

In [18]:
# print the even and odd lists
print(Lst_even)
print(Lst_odd)

[2, 4, 8, 10]
[1, 3, 5, 9, 11]